* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    font-family: "UTMSwissCondensed";
    
}

.max-width {
    max-width: 1410px;
    margin: auto;
    height: 100%;
}

.header {
    background-color: #ededed;
}

.header .header-logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.25rem;
}

.header .header-logo .header-logo_1 img {
    display: block;
    height: 6.25rem;
    width: auto;
    padding-right: 10px;
}

.header .header-logo .header-logo_2 ul li{
    font-family: "UTMSwissCondensedBold";
    list-style: none;
}

.header .header-logo .header-logo_1 ul li:first-child {
    font-size: 62px;
    font-weight: bold;
}

.header .header-logo .header-logo_1 ul li:last-child {
    font-size: 20px;
    font-weight: 100;
    color: #7eb4ee;
}

.header .header-logo .header-logo_2 ul li {
    display: block;
}

.header .header-logo .header-logo_2 ul li p {
    text-align: center;
    line-height: 1.4;
}

.header .header-logo .header-logo_2 ul li:first-child {
    font-size: 38px;
    font-weight: 700;
    color: #ff7e00;
}

.header .header-logo .header-logo_2 ul li:last-child {
    font-size: 20px;
    font-weight: 600;
    color: #3274b7;
}

.header .header-logo .header-logo_3 {
    display: block;
    line-height: 1.4;
    font-size: 20px;
    color: #186fc5;
}

.header .header-logo .header-logo_3 p {
    padding: 8px;
}

.header .header-logo .header-logo_3 .header-logo_icon a {
    font-size: 32px;
    color: #186fc5;
    padding: 8px;
}

.header .header-logo .header-logo_3 .header-logo_icon a:hover {
    color: #fc7e03;
    transition: 0.2s;
}

nav {
    display: block;
    background-color: #1670c6;
}

.header .header-menu {
    display: flex;
    align-items: center;
    height: 6.25rem;
}

.header .header-menu .header-menu_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .header-menu .header-menu_1 li {
    display: block;
    list-style: none;
    font-size: 20px;
}

.header .header-menu .header-menu_1 li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}

.header .header-menu .header-menu_search {
    display: flex;
    margin-left: auto;
    border-radius: 8px;
}

.header .header-menu .header-menu_search li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
}

.header .header-menu .header-menu_search li i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #3274b7;
}


.header .header-menu .header-menu_search li input {
    display: block;
    padding-left: 12px;
    border: none;
    height: 100%;
    width: 12.25rem;
    border-radius: 6px;
    text-align: right;
    padding-right: 10px;
}

.header .header-menu .header-menu_search li input:focus {
    outline: none;
}

.content {
    display: block;
    position: relative;
    
}

.content .banner {
    width: 100%;
    height:auto;
}

.content .banner .banner-img {
    display: block;
}

.content .banner .banner-img img {
    width: 100%;
    height: 100%;
}

.content .banner-menu {
    position: relative;
    background-color: #ffffff;
    bottom: 0;
    z-index: 3;
}

.content .banner-menu ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
    width: 100%;
    background-color: #ededed;
    margin-top: -55px;
    box-shadow: -1px -1px 4px;
}

.content .banner-menu ul li {
    display: block;
    list-style: none;
    font-size: 16px;
}

.content .banner-menu ul li:hover a {
    color: #fc7e03;
    transition: 0.2s;
}

.content .banner-menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    padding: 0 10px;
}

.content .banner-menu ul li i {
    font-size: 32px;
    color: #1670c6;
}

.content-info_infomation {
    padding-top: 60px;
}

.content-info_infomation .content .content-info {
    position: relative;
    display: block;
    background-color: #f6f6f6;
}

.content-info_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
}

.content .content-info .content-info_title {
    padding-top: 40px;
}

.content .content-info .content-info_title img {
    height: 4.75rem;
    width: auto;
    padding: 0 4px;
}

.content .content-info .content-info_title li {
    display: block;
    border-bottom: 4px solid #44b1ec;
    list-style: none;
    padding: 8px 6px;
}

.content .content-info .content-info_title li h2 {
    font-family: "UTMSwissCondensedBold";
    font-size: 38px;
    font-weight: bold;
    color: #1670c6;
}

.content .content-info .content-info_content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.content .content-info .content-info_content-img {
    display: block;
    max-width: 50%;
    text-align: center;
}

.content .content-info .content-info_content-img img {
    width: 100%;
    height: 100%;
}

.content .content-info .content-info_content-text {
    width: 50%;
}

.content-info_content-text {
    display: block;
}

.content-info_content-text ul:first-child {
    background-color: #e6e6e6;
    padding: 28px 72px;
}

.content-info_content-text ul:last-child {
    padding: 28px 72px;
}

.content-info_content-text > ul > li {
    list-style: none;
    display: flex;
    line-height: 1.5;
    padding: 4px 0;
}

.content-info_content-text > ul > h2 {
    font-size: 32px;
    padding-bottom: 20px;
    font-family: "UTMSwissCondensedBold";
}

.content-info_content-text > ul > li > p {
    font-size: 20px;
    line-height: 1.5;
}

.content-info_content-text > ul > li > p > b {
    color: #2671b8;
    font-size: 20px;
}

.content-info_content-text > ul > li > i {
    font-size: 20px;
    color: #f4cd33;
    margin-right: 4px;
}

.content-fields_title {
    background-color: #f6f6f6;
}

.content-fields_title-fix {
    display: block;
    position: relative;
}

.content-fields_title-fix {

}

.content-fields-option {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.content-fields-option-item {
    text-align: center;
}

.border-content {
    background-color: #d6d4d5;
    border-radius: 10%;
    box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.3);
}

.content-fields-option-item img {
    display: block;
    width: 13.75;
    height: auto;
    border-radius: 10%;
    padding-top: 20px;
}

.content-fields-option-item a {
    text-decoration: none;
}

.content-fields-option-item a p {
    margin-top: 30px;
    font-weight: bold;
    color: #1670c6;
    font-size: 20px;
}

.content-info_content2 {
    position: relative;
    width: auto;
    height: 22.5rem;
    background: url(../css/img/background1.png) no-repeat center center;
}

.content-info_content2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.content-info_content2 ul li {
    list-style: none;
    text-align: center;
    color: #fafeff;
}

.content-info_content2 ul li div {
    display: flex;
    height: 10.375rem;
    width: auto;
    align-items: center;
}

.content-info_content2 ul li h3 {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 8px;
}

.content-info_content2 ul li p {
    font-size: 20px;
    font-weight: bold;
}

.content-info-newfeed {
    background-color: #f6f6f6;
}

.content-info-newfeed-item {
    padding-top: 50px;
}

.content-info-newfeed-item-menu ul {
    display: block;
    width: 100%;
    height: 3.875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 12px solid #3284c0;
}

.content-info-newfeed-item-menu ul li {
    list-style: none;
    flex: 1;
    text-align: center;
    padding: 20px;
}

.content-info-newfeed-item-menu ul .newfeed-selection {
    background-color: #3284c0;
}

.content-info-newfeed-item-menu ul .newfeed-selection a {
    color: #f0ffff;
}

.content-info-newfeed-item-menu ul li a {
    text-decoration: none;
    color: #959595;
    font-size: 24px;
    font-weight: bold;
}

.content-info-newfeed-item-content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0 80px 0;
}

.content-info-newfeed-item-content img {
    position: relative;
    padding-bottom: 20px;
}

.content-info-newfeed-item-content-1 {
    width: 28.125rem;
}

.content-info-newfeed-item-content-1-text {
    padding: 20px;
    background-color: #ffffff;
}

.content-info-newfeed-item-content-1-text hr {
    margin: 12px 0;

}

.content-info-newfeed-item-content-1-text .btn-newfeed {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 20px;
}

.content-info-newfeed-item-content-1-text .btn-newfeed img {
    padding: 0 20px;
}

.content-info-newfeed-item-content-1-text .btn-newfeed li {
    list-style: none;
    padding: 0 10px;
}

.content-info-newfeed-item-content-1-text .btn-newfeed li:last-child {
    border-left: 1px solid #000000;
}

.content-info-newfeed-item-content-1-text .btn-newfeed li a {
    text-decoration: none;
    color: #000000;
}

.content-info-project {

}

.content-project_title-fix {
    display: block;
    position: relative;
}

.content-project_menu {
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.content-project_menu ul{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.content-project_menu ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 4.5rem;
    width: 25rem;
    background-color: #bcbcbc;
}

.content-project_menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-family: "UTMSwissCondensedBold";
}

.content-project_menu ul .project-selection {
    background-color: #3284c0;
}

.content-project_menu ul .project-selection a {
    color: #ffffff;
}

.content-info-project-item {
    display: grid;
    gap: 14px;
    justify-content: space-between;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
}

.content-info-project-item-box {
    height: 21.375rem;
    width: 28.125rem;
    background-color: #f6f6f6;
    border-radius: 4px;
}

.content-info-project-item-box-img,
.content-info-project-item-box-text {
    padding-top: 16px;
    text-align: center;
    font-size: 20px;
}

.btn-project {
    display: flex;
    justify-content: center;
    padding: 60px 0 20px;
    text-align: center;
    height: 9.375rem;
    width: 100%;
}

.btn-project p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 18.75rem;
    background-color: #3184bf;
    text-decoration: none;
}

.btn-project p a {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    font-family: "UTMSwissCondensedBold";
}

.content-info-partner {
    padding: 20px;
    background-color: #f6f6f6;
}

.content-info-partner-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 0;
    width: 100%;
}

.content-info-partner-icon li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 16.375rem;
    height: 10.125rem;
    background-color: #ffffff;
}

.footer {
    position: relative;
    display: block;
    background-color: #ffffff;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-contact ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-contact ul li {
    list-style: none;
}

.footer-contact ul li > h2 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20PX;
}

.footer-contact ul li > p {
    font-size: 20px;
    font-weight: 400;
    padding: 6px 0;
}

.footer-contact ul li p a {
    text-decoration: none;
    color: #000000;
}

.footer-copyright {
    text-align: center;
    background-color: #3274b7;
    padding: 20px;
}

.footer-copyright p {
    color: #ffffff;
    font-size: 26px;
    font-family: "UTMSwissCondensedBold";
}