* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.app {
    font-family: "UTMSwissCondensed";
    
}

.max-width {
    max-width: 88.125rem;
    margin: auto;
    height: 100%;
}

.header {
    background-color: #ededed;
}

.header .header-logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11.25rem;
}

.header .header-logo .header-logo_1 img {
    display: block;
    height: 6.25rem;
    width: auto;
    padding-right: 10px;
}

.header .header-logo .header-logo_2 ul li{
    font-family: "UTMSwissCondensedBold";
    list-style: none;
}

.header .header-logo .header-logo_1 ul li:first-child {
    font-size: 62px;
    font-weight: bold;
}

.header .header-logo .header-logo_1 ul li:last-child {
    font-size: 20px;
    font-weight: 100;
    color: #7eb4ee;
}

.header .header-logo .header-logo_2 ul li {
    display: block;
}

.header .header-logo .header-logo_2 ul li p {
    text-align: center;
    line-height: 1.4;
}

.header .header-logo .header-logo_2 ul li:first-child {
    font-size: 38px;
    font-weight: 700;
    color: #ff7e00;
}

.header .header-logo .header-logo_2 ul li:last-child {
    font-size: 20px;
    font-weight: 600;
    color: #3274b7;
}

.header .header-logo .header-logo_3 {
    display: block;
    line-height: 1.4;
    font-size: 20px;
    color: #186fc5;
}

.header .header-logo .header-logo_3 p {
    padding: 8px;
}

.header .header-logo .header-logo_3 .header-logo_icon a {
    font-size: 32px;
    color: #186fc5;
    padding: 8px;
}

.header .header-logo .header-logo_3 .header-logo_icon a:hover {
    color: #fc7e03;
    transition: 0.2s;
}

nav {
    display: block;
    background-color: #1670c6;
}

.header .header-menu {
    display: flex;
    align-items: center;
    height: 6.25rem;
}

.header .header-menu .header-menu_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .header-menu .header-menu_1 li {
    display: block;
    list-style: none;
    font-size: 20px;
}

.header .header-menu .header-menu_1 li a {
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}

.header .header-menu .header-menu_search {
    display: flex;
    margin-left: auto;
    border-radius: 8px;
}

.header .header-menu .header-menu_search li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
}

.header .header-menu .header-menu_search li i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #3274b7;
}


.header .header-menu .header-menu_search li input {
    display: block;
    padding-left: 12px;
    border: none;
    height: 100%;
    width: 12.25rem;
    border-radius: 6px;
    text-align: right;
    padding-right: 10px;
}

.header .header-menu .header-menu_search li input:focus {
    outline: none;
}

.content {
    position: relative;
    display: block;
    background-color: #f6f6f6;
}

.content-banner {
    background-image: url(../css/img/bannertuyendung.png);
    height: 16.625rem;
    width: 100%;
}

.content-banner .content-banner_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-banner .content-banner_text h2 {
    font-size: 38px;
    color: #ffffff;
    padding-bottom: 20px;
    font-family: "UTMSwissCondensedBold";
}

.content-banner .content-banner_text p {
    font-size: 20px;
    color: #ffffff;
}

.content-banner .content-banner_text a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
}

/* body */
.address-map {
    position: relative;
    display: block;
    background-color: #f6f6f6;
}

.address-map-title {
    display: flex;
    align-items: center;
    padding: 1rem 0 0 0 ;
}

.address-map-title li {
    list-style: none;
    padding:.5rem .5rem .5rem 0;
}

.address-map-title li h2 {
    font-family: "UTMSwissCondensedBold";
}

.contact-answer {
    display: flex;
    justify-content: space-between;
}

.content-contact {
    position: relative;
    display: block;
    padding: 4rem 0;
    max-width: 30%;;
}

.content-contact p {
    font-family: "UTMSwissCondensedBold";
}

.address-map-text {
    display: flex;
    align-items: center;
}

.content-contact .address-map-text p {
    font-family: "UTMSwissCondensedBold";
}

.content-contact .address-map-text > li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 10px 10px 0 0;
    font-size: 16px;
    font-family: "UTMSwissCondensedBold";
}

.content-contact .address-map-text li img {
    width: auto;
    height: 16px;
    padding-right: .3rem;
}

.time-open {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.time-open li {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 20px;
    font-family: "UTMSwissCondensedBold";
}

.content-answer {
    position: relative;
    display: block;
    padding: 4rem 0;
    max-width: 60%;
}

.time-open li img {
    width: auto;
    height: 20px;
    padding-right: .3rem;
}

.footer {
    position: relative;
    display: block;
    background-color: #ffffff;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.footer-contact ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-contact ul li {
    list-style: none;
}

.footer-contact ul li > h2 {
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 20PX;
}

.footer-contact ul li > p {
    font-size: 20px;
    font-weight: 400;
    padding: 6px 0;
}

.footer-contact ul li p a {
    text-decoration: none;
    color: #000000;
}

.footer-copyright {
    text-align: center;
    background-color: #3274b7;
    padding: 20px;
}

.footer-copyright p {
    color: #ffffff;
    font-size: 26px;
    font-family: "UTMSwissCondensedBold";
}