* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}

.container .header {
    width: 100%;
    padding: 46px;
    border: 1px solid #333;
    border-radius: 6px;
    text-align: center;
}

.container .nav {
    width: 100%;
    padding: 26px;
    margin-top: 16px;
    border: 1px solid #333;
    border-radius: 6px;
    text-align: center;
}

.container .content {
    display: flex;
    flex-direction: column;
}

.container .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 460px;
    margin-top: 16px;
    text-align: center;
}

.container .content .left {
    width: 25%;
    height: 100%;
    padding: 16px 0;
    border: 1px solid #333;
    border-radius: 6px;
    text-align: center;
}

.container .content .body {
    width: 40%;
    height: 100%;
    padding: 16px 0;
    border: 1px solid #333;
    border-radius: 6px;
    text-align: center;
}

.container .content .right {
    width: 25%;
    height: 100%;
    padding: 16px 0;
    border: 1px solid #333;
    border-radius: 6px;
    text-align: center;
}

.container .footer {
    width: 100%;
    padding: 36px;
    margin-top: 16px;
    border: 1px solid #333;
    border-radius: 6px;
    text-align: center;
}