* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    font-family: "UTMSwissCondensed";
}

.max-width {
    max-width: 1300px;
    margin: auto;
}

.header {
    background-color: #ededed;
    height: 186px;
}

.header .header-logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.header .header-logo .header-logo_1 img {
    display: block;
    height: 100px;
    width: auto;
    padding-right: 10px;
}

.header .header-logo .header-logo_1 ul li,
.header .header-logo .header-logo_2 ul li{
    list-style: none;
}

.header .header-logo .header-logo_1 ul li:first-child {
    font-size: 62px;
    font-weight: bold;
}

.header .header-logo .header-logo_1 ul li:last-child {
    font-size: 16px;
    font-weight: 100;
    color: #7eb4ee;
}

.header .header-logo .header-logo_2 ul li {
    display: block;
}

.header .header-logo .header-logo_2 ul li p {
    text-align: center;
    line-height: 1.4;
}

.header .header-logo .header-logo_2 ul li:first-child {
    font-size: 38px;
    font-weight: 700;
    color: #ff7e00;
}

.header .header-logo .header-logo_2 ul li:last-child {
    font-size: 20px;
    font-weight: 600;
    color: #3274b7;
}

.header .header-logo .header-logo_3 {
    display: block;
    line-height: 1.4;
    font-size: 18px;
    color: #186fc5;
}

.header .header-logo .header-logo_3 p {
    padding: 8px;
}

.header .header-logo .header-logo_3 .header-logo_icon a {
    font-size: 32px;
    color: #186fc5;
    padding: 8px;
}

.header .header-logo .header-logo_3 .header-logo_icon a:hover {
    color: #fc7e03;
    transition: 0.2s;
}

nav {
    display: block;
    background-color: #1670c6;
}

.header .header-menu {
    display: flex;
    align-items: center;
    height: 66px;
}

.header .header-menu .header-menu_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header .header-menu .header-menu_1 li {
    display: block;
    list-style: none;
    font-size: 16px;
}

.header .header-menu .header-menu_1 li a {
    text-decoration: none;
    color: #cbf3fe;
    padding: 20px;
}

.header .header-menu .header-menu_1 li a:hover {
    background-color: #86b3e5;
    transition: 0.3s;
    border-radius: 6px;
}

.header .header-menu .header-menu_search {
    display: flex;
    margin-left: auto;
    border-radius: 8px;
}

.header .header-menu .header-menu_search li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
}

.header .header-menu .header-menu_search li i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #3274b7;
}


.header .header-menu .header-menu_search li input {
    display: block;
    padding-left: 12px;
    border: none;
    height: 100%;
    border-radius: 6px;
    text-align: right;
    padding-right: 10px;
}

.header .header-menu .header-menu_search li input:focus {
    outline: none;
}

.content {
    position: relative;
}

.content .banner {
    width: 100%;
    height:auto;
}

.content .banner .banner-img {
    display: block;
}

.content .banner .banner-img img {
    width: 100%;
    height: 100%;
}

.content .banner-menu {
    position: relative;
    background-color: #ffffff;
    bottom: 0;
    z-index: 3;
}

.content .banner-menu ul {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    width: 1300px;
    background-color: #ededed;
    margin-top: -30px;
    padding: 10px;
    box-shadow: -1px -1px 4px;
}

.content .banner-menu ul li {
    display: block;
    list-style: none;
    font-size: 16px;
}

.content .banner-menu ul li:hover a {
    color: #fc7e03;
    transition: 0.2s;
}

.content .banner-menu ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
}

.content .banner-menu ul li i {
    font-size: 22px;
    color: #1670c6;
}

.content .content-info {
    position: relative;
    display: block;
    background-color: #f6f6f6;
    height: 220px;
}

.content .content-info .content-info_title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content .content-info .content-info_title img {
    height: 76px;
    width: auto;
    padding: 0 4px;
}

.content .content-info .content-info_title li {
    display: block;
    border-bottom: 4px solid #44b1ec;
    list-style: none;
    padding: 8px 6px;
}

.content .content-info .content-info_title li h2 {
    font-size: 38px;
    font-weight: 700;
    color: #1670c6;
}

.content .content-info .content-info_content {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.content .content-info .content-info_content-img {
    display: block;
    max-width: 50%;
    text-align: center;
}

.content .content-info .content-info_content-img img {
    width: 100%;
    height: 100%;
}

.content .content-info .content-info_content-text {
    width: 100%;
}

.content-info_content-text {
    display: block;
}

.content-info_content-text ul:first-child {
    background-color: #e6e6e6;
    padding: 28px 72px;
}

.content-info_content-text ul:last-child {
    padding: 28px 72px;
}

.content-info_content-text > ul > li {
    list-style: none;
    display: flex;
    line-height: 1.5;
    padding: 4px 0;
}

.content-info_content-text > ul > h2 {
    font-size: 22px;
    padding-bottom: 20px;
}

.content-info_content-text > ul > li > p > b {
    color: #2671b8;
    font-size: 16px;
}

.content-info_content-text > ul > li > i {
    font-size: 16px;
    color: #f4cd33;
    margin-right: 4px;
}

.content-fields_title {
    background-color: #f6f6f6;
}

.content-fields_title-fix {
    display: block;
    position: relative;
    height: 140px;
}

.content-fields_title-fix > .content-info_title {
    padding-top: 52px;
}

.content-fields-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
}

.content-fields-option-item {
    text-align: center;
}

.content-fields-option-item img {
    width: 180px;
    height: 180px;
    border-radius: 10%;
}

.content-fields-option-item p {
    padding: 16px 0;
    font-weight: bold;
    color: #1670c6;
}

.content-info_content2 {
    position: relative;
    width: 100%;
    height: 260px;
    background-color: #3979b7;
}

.content-info_content2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.content-info_content2 ul li {
    list-style: none;
    text-align: center;
    color: #fafeff;
}

.content-info_content2 ul li i {
    font-size: 58px;
    padding-bottom: 24px;
}

.content-info_content2 ul li h3 {
    font-size: 32px;
    padding-bottom: 8px;
}

.content-info_content2 ul li p {
    font-size: 16px;
    font-weight: bold;
}

